{% extends 'base.html' %}

{% block content %}
        <div class="login">
        <form action="/auth/login" method="POST" novalidate>
            <p>
                {{ loginform.username.label }} <br>
                {{ loginform.username(size=32) }}
            </p>
            <p>
                {{ loginform.password.label }}<br>
                {{ loginform.password(size=32) }}
            </p>
            <p>
                <label>
                    {{ loginform.rememberme }}
                    <span>Remember Me</span>
                </label>
            </p>
            <p>
                <button class="btn" type="submit" name="action">
                    Submit
                    <i class="material-icons right">send</i>
                </button>
            </p>
        </form>
        </div>
{% endblock %}